
body{
	width: 96.5vw;
	height:76.8vh;
	min-width: 310px;
/*	background-image: url(pics/Board.gif);
	background-size: 94vw 92vw;
	background-repeat: no-repeat;*/
	padding-top:1.4vw;
	padding-left:.8vw;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
}
section{
	width: 96.5vw;
	height:40vw;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
}

div.game-board {
	width:6.5vw;
	height:40vw;
	border:1px solid black;
	padding:0;
	margin:0 auto;
	flex-grow:1;
	display:flex;
	flex-direction:column;
/*	background-image: url(pics/IT.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;*/
}

div.token{
	width: 5vw;
	height: 5vw;
	box-sizing: border-box;
	border:1px black solid;
	-moz-border-radius: 2.5vw;
	-webkit-border-radius: 2.5vw;
	border-radius: 2.5vw;
	margin: 0 auto;
}

div.white{
	background:white;
}

div.black{
	background:black;
	border:1px white solid;
}

#bump{
	/*background:brown;*/
	width:2vw;
}

#home1{
	background:black;
	color:white;
}

#home2{
	background:gray;
}

.hide{
	display: none;
}

.top{
	align-content:flex-start;
}

.bottom{
	align-content: flex-end;
}